#services{
    max-width: 65rem;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.serviceBars{
    margin: 1.75rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.serviceBar img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin-right: 2rem;
}
.serviceBar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 1rem;
    padding: 1.5rem 2rem;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5rem;
    overflow: hidden;
}
.serviceBarText>p{
    font-size: 0.75rem;
    font-weight: 200;
}
.serviceBarText>h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
@media screen and(max-width:720px) {
    .serviceBarText>p{
        font-size: 2vw;
    }
}
@media screen and(max-width:480px) {
    .serviceBarText>p{
        font-size: 3vw;
    }
    .serviceBar img{
        height: 2.5rem;
        width: 2.25rem;
    }
    .serviceBarText{
        font-size: 5vw; 
    }
    .serviceBar{
        flex-direction: row;
    }
}