@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
    cursor: default;
    /* width: 100vw; */
}
body{
    background-color: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.active{
    color: yellow;
    border-bottom: 2px solid yellow;
    padding-bottom: 0.5rem;
}

.sectionTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    text-align: center;
}

input,textarea{
    border: none;
    outline: none;
}